* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1200px;
  width: 98%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 0px;
  color: white;
}

.parent {
  background-image: url(/src/images/sunset.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
}

.link {
  position: absolute;
  right: 30px;
}

.link>a {
  color: white;
  transition: all 0.3s;
}

.link>a:hover {
  text-decoration: underline blue;
  padding: 10px;
}

.description {
  position: relative;
  float: right;
  transform: rotate(270deg);
  margin: 0px 75px;
  margin-top: -50px;
  font-size: 25px;
}

.bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 17px;
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  text-align: center;
}

.bottom span {
  margin: 4px 0px;
  display: inline-block;
}

.nodata {
  font-size: 50px;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 100px auto;
}

.input-text {
  width: 300px;
  right: 50%;
  height: 30px;
}

.input {
  display: flex;
  justify-content: center;
}

.location {
  font-size: 40px;
  margin: 10px 0px;
  text-transform: uppercase;
}

@media screen and (max-width: 650px) {
  .link {
    bottom: 10px;
  }

  .description {
    margin: 0;
    margin-top: -50px;
  }

}

@media screen and (max-width: 393px) {
  .bottom {
    flex-direction: column;
  }

  .bottom>div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
}